<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>|> %clr(%d{HH:mm:ss.SSS}) %clr(%-5level) [%thread] %cyan(%logger{41}) -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.luartz" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>